<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verdict</title>
</head>

<style>
.header {
  padding: 60px;
  text-align: center;
  background: #D39E4D;
  color: white;
  font-size: 30px;
  border-radius: 25px;
}

.content {
  margin: auto;
  font-size: 30px;
  text-align: center;
}

</style>

<body>
<div class = header>
    <h1>What's the verdict...</h1>
</div>
<div class = content>
    <p>Your allergen: {{allergen}}</p>
    <p>Your product: {{food}}</p>
    <p>Verdict: {{response}}</p>
    <button><a href="/">Search another product</a></button>
</div>



</body>
</html>